<h1>日記一覧</h1>

<table>
  <thead>
    <tr>
      <th>
        タイトル
      </th>
      <th>
        内容
      </th>
    </tr>
  </thead>
  <tbody>
    <% #インスタンス変数を繰り返し表示 %>
    <% @diaries.each do |diary| %>
      <tr>
        <td><%= diary.title %></td>
        <td><%= diary.body %></td>
        <td><%= link_to '詳細', diary_path(diary.id) %></td>
        <td><%= link_to '編集', edit_diary_path(diary.id) %></td>
        <td><%= link_to '削除', diary, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
