<!DOCTYPE html>
<html>
  <head>
    <title>SampleDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%# Bootstrapヘッダ %>

      <%# ベースとなるナビゲーションバー %>
      <div class="navbar navbar-dark bg-dark box-shadow">

      <%# 常に表示されているメニューバー %>
        <div class="container d-flex">
          <a href="#" class="navbar-brand d-flex align-items-left">
            <h1>日記アプリ</h1>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

      </div>

      <%# アコーディオンボタン押下時に表示される領域 %>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <%# 1列目 %>
          <div class="row">
            <%# 左側の領域 %>
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">アプリについて</h4>
              <p class="text-muted">
                Railsの勉強も兼ねて作成した日記アプリです。Scaffoldは使わず、一から手作りモットーに作成しました
              </p>
            </div>
            <%# 右側の領域 %>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">その他</h4>
              <ul class="list-unstyled">
                <li><a href="https://railsapplication.herokuapp.com/" class="text-white">Herokuで公開中</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </header>

    <% # ここにビューが埋め込まれて表示される %>
    <%= yield %>

    <%  # Add フッター %>
    <footer>
      <hr />
      フッター
    </footer>
  </body>
</html>
